@charset "UTF-8";
@font-face {
    font-family:'Sriracha';
    src: url('fontes/sriracha.ttf') format(truetype);
    }

@font-face {
    font-family:'PassionOne';
    src: url('../projeto-cardel/fontes/PassionOne-Bold.ttf') format(truetype);
    }




*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-titulo: 'PassionOne';
    --fonte-texto: 'Sriracha';
}

main{
   
}

header{
    background-color: black;
    color: white;
}

header > h1{
    font-family: var(--fonte-titulo);
    font-size: min(130px, 5vw);
    text-align: center;
    padding-top: 50px; 
}

/*header > h1 > span{
    font-size: min(200px, 5vw);
}*/


header > p > a:hover{
    text-decoration: underline;  
}

header> p > a{
    text-decoration: none;
    font-weight: bold; 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 50px;
}


section{
    position: relative;
}

section > article{
    font-family: 'Sriracha';
    font-size: min(60px, 5vw);
    line-height: 65px;
}

article{
    line-height: 65px;
}

.secao1{
    background-color: brown;
    padding-top: 60px;
    padding-bottom: 230px;
}

.secao2{
    background-color: blue;
    padding-top: 60px;
    padding-bottom: 230px;
}

.secao3{
    background-color: coral;
    padding-top: 60px;
    padding-bottom: 230px;
}

.secao4{
    background-color: blueviolet;
    padding-top: 60px;
    padding-bottom: 230px;
}

.secao5{
    background-color: darkgray;
    padding-top: 60px;
    padding-bottom: 230px;
}


.artigo1{
    max-width: 800px;
    background-color: aqua;
    position: relative;
    left: 30px;
    top: 10px;

}

.artigo2{
    max-width: 800px;
    background-color: aqua;
    position: relative;
    left: 30px;
    top: 10px;
}

.artigo3{
    max-width: 800px;
    background-color: aqua;
    position: relative;
    left: 30px;
    top: 10px;
}

.artigo4{
    max-width: 800px;
    background-color: aqua;
    position: relative;
    left: 30px;
    top: 10px;
}

.artigo5{
    max-width: 800px;
    background-color: aqua;
    position: relative;
    left: 30px;
    top: 10px;
}

.pituba1{
    padding-top: 150px;
}


.pituba2{
    padding-top: 150px;
}

