@charset "UTF-8";

@font-face {
    font-family:'Sriracha';
    src: url('../fontes/sriracha.ttf') format(truetype);
    }

@font-face {
    font-family:'PassionOne';
    src: url('../fontes/PassionOne-Bold.ttf') format(truetype);
    }

:root{
    --fonte-titulo: 'PassionOne';
    --fonte-texto: 'Sriracha';    
}
html, body{
    min-height: 100vh;
    background-color: bisque;
}

*{
    margin: 0%;
    padding: 0%;
} 


header{
    color: whitesmoke;
    background-color: black;
    text-align: center;
}

header > h1{
    font-family: var(--fonte-titulo);
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 10vw;
}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    padding-bottom: 50px;  
}

header > p > a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

header > p > a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--fonte-texto);
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: darkgray;
    color: whitesmoke;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.877);
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.250);
    display: inline-block;
    padding: 5px;
}

section#joaninha{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#papel{
    background-image: url('../imagens/background002.jpg');
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;  
}
footer{
    color: whitesmoke;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;   
}

footer > p > a:hover{
    text-decoration: underline;
}

footer > p > a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}